.app{
    min-height: 100vh;
    overflow: hidden;
    .sidebar{
        height: calc(100vh - 168px)
    }
}

//fonts
@import "./fonts/_fonts";

//variables
@import "./_variables";

//components
@import "./components/_header";
