.app{
    height: 100vh;
    overflow: hidden;
    .sidebar{
        height: 100vh;
    }
}

//fonts
@import "./fonts/_fonts";

//variables
@import "./_variables";

//components
@import "./components/_header";
