.app{
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
    &.overflow-visible{
        overflow-y: auto;
    }
    &.overflow-hidden{
        overflow-y: hidden;
    }
    .sidebar{
        @media(max-width: 767px){
            width: 100%;
            position: fixed;
            max-width: unset;
            z-index: 2;
            transition: left 500ms ease-in-out;
            &.open{
                left: 0%;
                .toggle-button{
                    // display: none;
                }
            }
            &.close{
                box-shadow: 5px 0 15px -11px rgba($color: #000000, $alpha: 0.2);
                left: -100%;
                border-left: 0;
                .toggle-button{
                    // display: block;
                }
            }
        }
    }
}
*,::after, ::before{
    box-sizing: border-box;
}
html{
    overflow-x: hidden
}
//fonts
@import "./fonts/_fonts";

//variables
@import "./_variables";

//components
@import "./components/_header";


.hbspt-form{
    position: absolute;
    top: 0;
    background: white;
    left: 50%;
}